# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# Python cache
.pytest_cache/

# Flask
instance/

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db__temp_pipreqsnb_folder/
__temp_pipreqsnb_folder/
