# Environment variables / secrets
.env
backend/.env

# Python virtual environment
venv/
backend/venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Local uploads/temp files
backend/uploads/
# Temporary dependency scan folder
__temp_pipreqsnb_folder/